<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">professions</h2>
                    <h3 class="section-subheading text-muted">This what i do best</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front end</h4>
                    <p class="text-muted">In General i am a front-end web developer, but that doesn't mean i don't know backend, in fact i use node.js sometimes as my backend, still i prefer working front end rather than backend</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">responsive design is one of the things i really like and always follow this approach, because i always want to support more devices!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse">&nbsp;JS</i>
                    </span>
                    <h4 class="service-heading">Javascript</h4>
                    <p class="text-muted">Anything javascript is my work , i spent 2 full years learning professional javascript, it's what i love and what i do</p>
                </div>
            </div>
        </div>
    </section>
